<!-- Footer Start -->
<div class="container-fluid position-relative overlay-top text-white-50 py-5"
    style="margin-top: 90px; background: linear-gradient(90deg, rgba(1,255,0,1) 0%, rgba(110,255,89,1) 44%, rgba(215,255,185,1) 100%)">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-6 mb-5" style="color:black">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Carrer del Rei En Jaume I, 2, 46470 Catarroja, Valencia
                </p>
                <p><i class="fa fa-phone-alt mr-2"></i>+34 653425617</p>
                <p><i class="fa fa-envelope mr-2"></i>Correo Electrónico</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="text-white mr-4" href="https://twitter.com"><i class="fab fa-2x fa-twitter"></i></a>
                    <a class="text-white mr-4" href="https://facebook.com"><i class="fab fa-2x fa-facebook-f"></i></a>
                    <a class="text-white mr-4" href="https://linkedin.com"><i class="fab fa-2x fa-linkedin-in"></i></a>
                    <a class="text-white" href="https://www.instagram.com"><i class="fab fa-2x fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0">Copyright &copy; <a class="text-white" href="#">PETIT EXPLORADOR</a>. All Rights
                Reserved.
            </p>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <p class="m-0">Designed by Sergio Albero and Alejandro Santarén
            </p>
        </div>
    </div>
</div>

<!-- Footer End -->