<!-- Footer Start -->
<div class="container-fluid position-relative overlay-top text-white-50 py-5"
    style="margin-top: 90px; background-image: radial-gradient(circle, #b0ffd7, #b0fdd8, #b1fad9, #b1f8da, #b2f5da, #b2f5da, #b2f5da, #b2f5da, #b1f8da, #b1fad9, #b0fdd8, #b0ffd7);">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-6 mb-5" style="color:black">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Carrer del Rei En Jaume I, 2, 46470 Catarroja, Valencia
                </p>
                <p><i class="fa fa-phone-alt mr-2"></i>+34 653425617</p>
                <p><i class="fa fa-envelope mr-2"></i>Correo Electrónico</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="text-white mr-4" href="https://twitter.com"><i class="fab fa-2x fa-twitter"></i></a>
                    <a class="text-white mr-4" href="https://facebook.com"><i class="fab fa-2x fa-facebook-f"></i></a>
                    <a class="text-white mr-4" href="https://linkedin.com"><i class="fab fa-2x fa-linkedin-in"></i></a>
                    <a class="text-white" href="https://www.instagram.com"><i class="fab fa-2x fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <h3 class="text-white mb-4">Visítanos</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8719.926757236128!2d-0.40811642032964773!3d39.40241844759288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e82a8672a35%3A0xed578f5f80fed685!2sFlorida%20Universit%C3%A0ria!5e0!3m2!1ses!2ses!4v1715624509141!5m2!1ses!2ses" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0">Copyright &copy; <a class="text-white" href="#">PETIT EXPLORADOR</a>. All Rights
                Reserved.
            </p>
        </div>
        <div class="col-md-6 text-center text-md-right">
            <p class="m-0">Designed by Sergio Albero and Alejandro Santarén
            </p>
        </div>
    </div>
</div>

<!-- Footer End -->