#div_descargable {
  background-color: rgb(253, 227, 229);
  text-align: center;
  color: #0e284e;
  margin-left: -15px;
}

#div_descargable .display-4 {
  color: #0e284e;
  font-size: 2.9rem;
  margin-top: 65px;
}

#div_descargable h3 {
  margin-top: 25px;
}

#div_descargable p {
  font-size: 1.3rem;
  margin-top: 15px;
}

#div_descargable .btn {
  background-color: #0e284e;
  border-color: #0e284e;
}

#container_descargable {
    margin-bottom: -300px;
}

.container_descargable {
    max-width: 800px;
    margin-bottom: -50px;
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    position: relative;
  }

.green-container {
  width: 90%; /* Ancho del contenedor verde */
  height: 100%; /* Altura igual al contenedor principal */
  background-color: rgb(235, 249, 234);
  position: absolute;
  left: 0; /* Alinear a la izquierda */
  top: 0;

}

.green-container h1 {
    font-size: 35px;
    color:#0e284e;
    margin-top: 75px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.categories {
  list-style: none;
  padding: 0;
}

.category {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.category:hover {
  color: #007bff;
}

.category-description {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.files {
  list-style: none;
  padding-left: 0;
  text-align: center; /* Centrar elementos <li> */
}

.hidden {
  display: none;
}

li {
  margin-bottom: 50px;
}

.files li {
  margin-bottom: 10px;
}

ul li {
  text-align: center;
}

.files a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.files a:hover {
  color: #007bff;
}

.image {
    width: 90%; /* Ancho de la imagen */
    display: inline-block;
    vertical-align: top; /* Alinear arriba */
}

.image img {
    max-width: 100%;
    height: auto;
}

.content {
    width: 60%; /* Ancho del contenido principal */
    display: inline-block;
    margin-left: 20%; /* Margen para el contenedor verde */
    vertical-align: top; /* Alinear arriba */
}

@media (max-width: 768px) {
    .image {
        position: relative;
        margin-left: 0;
        margin-top: 0;
    }
}
