
    h1, h2, h3, h4, h5, h6 {
        color: rgb(9, 36, 108);
    }
    
    #container_about p {
        text-align: justify;
        margin-left: 150px;
        margin-right: 150px;
        color: rgb(9, 36, 108);
    }
